 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
*{
    margin:0;
    padding:0;
}
.first-section{
    background-color: #1d2937;
}
#header-logo{
    font-size: 24px;
    color:  #f9faf8;
}
.header-link{
    font-size:18px;
    color: #e5e7eb;
}
.navbar{
   display: flex;
   flex-direction: row;   
   margin:10px; 
}
ul{
    display: flex;
    flex-direction:row;
}
li{
    margin :10px;
}
.navbar-left,.navbar-right{
    display: flex;
    width:50%;
    justify-content: center;
    align-items:  center;
}
h1{
    font-size:48px;
    font-weight: bolder;
    color: #f9fafb;
}
.content{
    display: flex;
    flex-direction: row;
    margin:50px;
}
.content-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:50%;
    margin-left:200px;
}

.content-right{
    display: flex;
    flex-direction: column;
    width:50%;
    margin-left:50px;
    justify-content: center;

}
.p-first{
    font-size:18px;
    color:#e5e7eb;
}
.Sign{
    background-color: #38b2f6;
    color:white;
    width:100px;
    height: 40px;
    border-radius: 10px;
    border: 1px #3882f6;
    margin-top:10px;
}

img{
    margin-bottom: 50px;
}